<div class="row">
  <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
    <h3>Add Book</h3>
    <div>
      <form class="form-group" action="/book_progressions" method="post">
        <label class="control-label">Book title: </label>
        <input class= "form-control" type="text" name="title" id="title">
        <br>
        <br>

        <label class="control-label">Author: </label>
        <input class= "form-control" type="text" name="author" id="author">
        <br>
        <br>

        <label class="control-label">Pages:</label>
        <input class= "form-control" type="text" name="pages" id="pages">
        <br>
        <br>

        <label class="control-label">Current Page: </label>
        <input class= "form-control" type="text" name="current_page" id="current_page">
        <br>
        <br>

        <input class="btn btn-default login-button" type="submit" name="create" value="Submit">
        <a class="pull-right" href="/book_progressions">Back</a>
      </form>
    </div>
  </div>
</div>
