body {
  background-color: #F3EBF9;
  color: #570A8C;

  padding: 80px;
}


h1, h2 {
  color: #3A075F;
}

.book-progress-home, .book-progress-signup, .book-progress-login {
  text-align: center;
}

.book-progress-signup-border, .book-progress-login-border {
  border: 1px solid;
  border-radius: 3px;
  padding: 30px;
}

.login-button, .signup-button {
  border: 1px solid;
  border-radius: 3px;
}
