body {
  background-color: #e3fffd;
  color: #00837a;
  font-size: 1em;
  padding-top: 1em;
}

h1, h2 {
  color: #04a086;
}

a {
  color: black;
}

.book-progress-home, .book-progress-signup, .book-progress-login {
  text-align: center;
}

.book-progress-signup-border, .book-progress-login-border {
  border: 1px solid;
  border-radius: 3px;
  padding: 30px;
}

.login-button, .signup-button {
  border: 1px solid;
  border-radius: 3px;
}

label {
  display: inline;
  font-weight: bold;
}

.btn-default {
  color: darkcyan;
  margin-right: 2%;
}
