<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="book-progress-homepage">
      <h2>Welcome <%= current_user.username%>!</h2>
      <h4><a href="/books/index">My Progress</a></h4>

      <p>Want to know what others are reading? <a href="/users">Check Profiles</a></p>
    </div>
  </div>
</div>
