<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="book-progress-login">
      <h3>Welcome to BookProgress </h3>
        <h4> Please Login!</h4>
      <form class="form-group book-progress-login-border" action="/login" method="post">
        <label class="control-label">Username:</label>
        <input class= "form-control" type="text" name="username" id="username" placeholder="Your Username">
        <br/>
        <br/>

        <label class="control-label">Password:</label>
        <input class= "form-control" type="password" name="password" id="password" placeholder="Your Password">
        <br/>
        <br/>

        <input class="btn btn-default login-button" type="submit" name="submit" value="Log In">
      </form>
    </div>
  </div>
</div>






