<div class="row">
  <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
    <div class="user-booklist">
      <h3><%= @user.username.capitalize %>'s Bookshelf</h3>
       <table class="table table-striped table-bordered">
         <tr>
           <th>Book</th>
           <th>Percent Complete</th>
         </tr>
             <% @user.book_progressions.each do |progress| %>
           <tr>

             <td><%= progress.book.title %></td>
             <td><%= progress.percent_read%> % </td>
           </tr>
       <% end %>
       </table>
    </div>
  </div>
  <a href="/">Homepage</a>
  <a class="pull-right" href="/users">Back</a>
</div>
