<div class="row">
  <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
    <h3>Your Booklist <%= current_user.username %>!!</h3>
    <div>
      <% @books.each do |book| %>
        <p><a href="/books/<%= book.id %>"> <%= book.title %></a></p>
        <p></p>
      <% end %>
    </div>
    <br>
    <a class="btn btn-deafult" href="/books/new">Add Book</a>
  </div>
</div>
