<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="book-progress-home">
      <h1>Welcome to BookProgress</h1>

      <h4>Login to your account <a href="/login">Login</a></h4>

      <h4>Don't have an account yet? Create one now! <a href="/signup">Sign Up</a></h4>
    </div>
  </div>
</div>


