<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="book-progress-home">
      <h1>Welcome to BookProgress</h1>
      <div>
        <h4><a href="/login">Login to your account </a></h4>
        <br>
        <p>Don't have an account yet? </p>
        <p>Create one now! <strong><a href="/signup">Sign Up</a></strong></p>
      </div>
    </div>
  </div>
</div>


