<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <title>Book Progress – Track your reading progress</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.1.3/dist/css/bootstrap.css">
    <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
    <link rel="stylesheet" href="/dist/main.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/img/icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon-32x32.png">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
  </head>
  <body>
  <div class="container container--main">
    <%= yield %>
    <div id="root"></div>
  </div>
  <div id="modal-root"></div>
  <%= erb :"/layout/_current_user", layout: false  %>
  <script src="/dist/main.js"></script>
  </body>
</html>
