<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BookProgress</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.0.0-alpha.2/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/dist/main.css">
  </head>
  <body>
  <div class="container">
    <%= yield %>
  </div>
  <script src="/dist/main.js"></script>
  </body>
</html>
